
extras/quartus/xlr8_atmega328clone.qarlog
extras/rtl/ip/*/.qsys_edit/*
extras/rtl/ip/*/*.sopcinfo
extras/rtl/ip/*/*/*_bb.v
extras/rtl/ip/*/*/*.rpt
extras/rtl/ip/*/*/*_inst.v
extras/rtl/ip/*/*/*_inst.vhd
*.bsf
*.cmp
*.csv
extras/rtl/ip/int_osc/int_osc/int_osc.html
*.ppf
extras/rtl/ip/int_osc/int_osc/int_osc.xml
extras/rtl/ip/*/*/simulation/aldec/*
extras/rtl/ip/*/*/simulation/cadence/*
extras/rtl/ip/*/*/simulation/synopsys/*
extras/rtl/ip/*/*/simulation/mentor/msim_setup.tcl


extras/rtl/ip/int_osc/int_osc/synthesis/int_osc.debuginfo

extras/rtl/ip/pll16/pll16_bb.v

extras/rtl/ip/ram2p16384x16/ram2p16384x16_bb.v

extras/rtl/ip/ram2p16384x16/ram2p16384x16_inst.v
